{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header bg-gradient-primary text-white text-center py-4">
                    <h1 class="font-weight-light my-2 text-dark">Tu Diario de Emociones</h1>
                </div>
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <h2 class="text-center mb-4">Bienvenido, {{ user.username }}</h2>
                        <div class="d-grid gap-3 col-lg-8 mx-auto">
                            <a href="{% url 'register_emotion' %}" class="btn btn-primary btn-lg shadow-sm">
                                <i class="fas fa-pen me-2"></i>Registrar Emoción
                            </a>
                            <a href="{% url 'emotion_list' %}" class="btn btn-outline-primary btn-lg">Ver Registro de Emociones</a>
                            <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-lg">
                                <i class="fas fa-sign-out-alt me-2"></i>Cerrar sesión
                            </a>
                        </div>
                    {% else %}
                        <h2 class="text-center mb-4">Comienza tu viaje emocional</h2>
                        <p class="lead text-center mb-4">Registra y explora tus emociones para un mejor bienestar.</p>
                        <div class="d-grid gap-3 col-lg-8 mx-auto">
                            <a href="{% url 'login' %}" class="btn btn-primary btn-lg shadow-sm">
                                <i class="fas fa-sign-in-alt me-2"></i>Iniciar sesión
                            </a>
                            <a href="{% url 'signup' %}" class="btn btn-success btn-lg shadow-sm">
                                <i class="fas fa-user-plus me-2"></i>Registrarse
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}